/*
  UofT SCS Data Analytics Boot Camp
  Project - 2
  Filename: index.html
  Author:   Vivianti Santosa
  Date:     2020-09-29
*/

.modebar{
  display: none !important;
}

body {
  padding: 0;
  margin: 0;
  background-color: #474747e5;
}
 
.jumbotron {
  margin-bottom: 0px;
  background-color: #363636;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  height: 140px;
  color: #EBEDEE
} 
.card{
  margin-top: 2rem;
  /*background-color: rgb(68, 216, 154);*/
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  padding-bottom: 0rem;
}
.card-title {
  margin-bottom: .25rem;
}
.card-text{
  margin-top: 0px;
  margin-bottom: 0px;
}
.selector{
  margin-left: 0px;
  max-width: 100%;
  align-items: end;
}

#map{
    height:600px;
    min-height: 100%;
    min-width: 50%;
    display: block;
}
#plot
{
    height:300px;
    min-height: 100%;
    min-width: 50%;
    display: block;
}
#plot2
{
    height:300px;
    min-height: 80%;
    min-width: 50%;
    display: block;
}
html {
  height: 100%;
}

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the Leaflet-Choropleth documentation */
.legend {
  padding: 6px 8px;
  font: 12px Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #555;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend ul {
  padding: 0;
  margin: 0;
  clear: both;
  list-style-type: none;
}

.legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
}

.legend .min {
  float: left;
  padding-bottom: 5px;
}

.legend .max {
  float: right;
}

.text-labels {
  font-size: 12pt;
  font-weight: 700;
  color: #555;
  word-wrap: normal;
}

h1 {
  text-align: center;
}

h4 {
  font: 16px Arial, Helvetica;
}
h5 {
  font: 21px Arial, Helvetica;
}
p{
  line-height: 20px;
}
.selector {
  font-size: 11px;
}